.a4 {
	height: 80vmin;
	width: calc(80vmin / 1.414);
	max-height: 297mm;
	max-width: 210mm;
	padding: 20mm;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	text-align: left;
	position: sticky;
	top: 4em;
}

.logo-dato-kontainer {
	height: calc(80vmin / 6);
	width: calc(80vmin / 6);
	position: absolute;
	top: 5vmin;
	right: 3vmin;
}

.nav-ikon {
	display: block;
	height: calc(80vmin / 15);
	margin-right: auto;
	margin-left: auto;
}

.logo-dato-kontainer p {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 1.5vmin;
}

.hoved-brev {
	position: absolute;
	left: 4vmin;
	top: 13vmin;
	height: calc(65vmin);
	width: calc(65vmin / 1.414);
	white-space: normal;
}

.hoved-brev h2 {
	font-size: 2.5vmin;
	margin-bottom: 2vmin;
}

.avsnitt {
	margin-bottom: 1vmin;
}

.avsnitt p {
	margin: 0;
	overflow: hidden;
	font-size: 1.5vmin;
}

table,
th,
td {
	border: 1px solid;
	font-size: 1.5vmin;
}

th,
td {
	padding: 0.3vmin 1vmin;
}

table {
	border-collapse: collapse;
	width: 100%;
}
